{% extends "cisco_ios_base_NES007.j2" %}
{% block child_3850_ip_classless %}
ip classless
{% endblock child_3850_ip_classless %}

{% block child_3850_tacacs_server %}
tacacs server TACACS_SERVER
{% for server in auth_server %}
 address ipv4 {{server}}
{% endfor %}
 key 0 {{ tacacs_password }}
tacacs-server directed-request
tacacs-server timeout 10
{% endblock child_3850_tacacs_server %}

{% block child_3850_snmp_server %}
snmp-server ifindex persist
{% for server in snmp_server %}
snmp-server host {{server}} {{ snmp_community_string }} mac-notification
{% endfor %}
{% endblock child_3850_snmp_server %}

