vlan internal allocation policy ascending
!
{% for server in auth_server %}
tacacs-server host <auth_server>					  
{% endfor %}
tacacs-server key $encrypt_type$ $tacacs_password$
tacacs-server directed-request
tacacs-server timeout 10
no spanning-tree optimize bpdu transmission