!
! SERVICES
!
no service config
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
service counters max age 5
no service finger
no service udp-small-servers
no service tcp-small-servers
no ip http secure-server
no ip source-route
no ip forward-protocol udp tftp
no ip forward-protocol udp domain
no ip forward-protocol udp nameserver
no ip forward-protocol udp time
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
no ip forward-protocol udp tacacs
ip forward-protocol udp bootpc
ip forward-protocol udp bootps
ip subnet-zero
{% block ip_classless_3850 %}
{% endblock %}
ip tcp synwait-time 5
no ip http server
no monitor event-trace timestamps
no ip bootp server
username barcadmin secret $encrypt_type$ $user_password$
enable secret $encrypt_type$ $secret_password$
ip domain name net.global
no ip domain-lookup
hostname $host_name$
vtp domain $domain_name$
vtp mode transparent
!
{% block tacacs_3850 %}
{% endblock %}
!
! AAA
!
aaa new-model
aaa group server tacacs+ AAA_SERVER
{% for server in auth_server %}
 server {{server}}
{% endfor %}
ip tacacs source-interface $mgmt_interface$
aaa authentication login default group AAA_SERVER local
aaa authentication enable default group AAA_SERVER enable
aaa authorization config-commands
aaa authorization exec default if-authenticated
aaa authorization commands 1 default if-authenticated
aaa authorization commands 15 default group AAA_SERVER local
aaa authorization console
aaa accounting exec default start-stop group AAA_SERVER
aaa accounting commands 0 default start-stop group AAA_SERVER
aaa accounting commands 1 default start-stop group AAA_SERVER
aaa accounting commands 15 default start-stop group AAA_SERVER
aaa accounting connection default start-stop group AAA_SERVER
aaa accounting system default start-stop group AAA_SERVER
aaa local authentication attempts max-fail 3
aaa session-id common
!
! SNMP
!
access-list 40 remark deny Access
access-list 40 deny any log
access-list 41 remark SNMP RO ACL Region Specific
{% for server in snmp_server %}
access-list 41 permit {{server}}
{% endfor %}
access-list 41 deny any log
access-list 42 Remark RW ACL Region Specific
{% for server in snmp_server %}
access-list 42 permit {{server}}
{% endfor %}
access-list 42 deny any log
snmp-server community public RO 40
snmp-server community private RO 40
snmp-server community $community_string$ RO 41
snmp-server community $community_string$ RW 42
snmp-server group V3-RW-GROUP v3 priv write V3-RW-VIEW access 42
snmp-server view V3-RW-VIEW internet included
snmp-server enable traps
snmp-server location $cab_locale$
snmp-server contact $contact_detail$
snmp-server trap link ietf
snmp-server enable traps snmp auhentication linkdown linkup coldstart warmstart
snmp-server enable traps syslog
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server packetsize 8192
snmp ifmib ifindex persist
snmp-server ifindex persist
snmp-server enable traps hsrp
snmp-server enable traps config
snmp-server enable traps vtp
{% for server in snmp_server %}
snmp-server host {{server}} $community_string$
{% endfor %}
snmp-server trap-source $mgmt_interface$
{% block snmp_server_3850 %}
{% endblock %}
!
! LOGGING
!
logging source-interface $mgmt_interface$ #vrf $mgmt_vrf_name$#
{% for server in logging_server %}
logging {{ server }}
{% endfor %}
logging trap informational
logging buffered $buffer_value$
logging console debugging
logging monitor debugging
logging rate-limit console 10
!
! NTP
!
ntp source $mgmt_interface$
{% for server in ntp_server %}
ntp server {{server}}
{% endfor %}
access-list 95 remark NTP ACL
{% for server in ntp_server %}
access-list 95 permit host {{server}}
{% endfor %}
access-list 95 deny  any
ntp access-group peer 95
{% for item in timezone %}
clock timezone {{item}}
{% endfor %}
{% for item in summer_time %}
clock summer-time {{item}}
{% endfor %}
!
! SSH
!
crypto key generate rsa general-keys modulus $key_value$
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh logging events
ip ssh source-interface $mgmt_interface$
!
! LOCAL SECURITY
!
login block-for 120 attempts 5 within 30
access-list 91 Remark Management access to Devices via Jump server!!!
access-list 91 permit host <management_station>
login quiet-mode access-class 91
login on-failure log every 5
login on-success log
!
! BANNER MOTD
!
banner login ^C
=------------------------------------------------------------------------------=
LEGAL NOTICE
YOU MAY COMMIT A CRIMINAL OFFENCE IF YOU ACT OUTSIDE YOUR AUTHORITY IN
RELATION TO THIS COMPUTER. THE PENALTY IS A FINE, IMPRISONMENT OR BOTH.
IF YOU ARE ACTING OUTSIDE YOUR AUTHORITY, DO NOT PROCEED ANY FURTHER.
IF YOU ARE ACTING WITHIN YOUR AUTHORITY, PLEASE NOTE THAT YOUR USE OF
THIS SYSTEM MAY BE MONITORED BY BARCLAYS GROUP FOR OPERATIONAL OR
BUSINESS REASONS.
=------------------------------------------------------------------------------=
^C
!
! LINE
!
privilege exec level 15 connect
privilege exec level 15 ssh
privilege exec level 15 telnet
line con 0
exec-timeout 5 0
location $cab_locale$
password $encrypt_type$ $con_password$
logging synchronous
transport preferred none
stopbits 1
line aux 0
location $cab_locale$
password $encrypt_type$ $con_password$
exec-timeout 5 0
logging synchronous
no exec
transport preferred none
transport output none
stopbits 1
line vty 0 4
exec-timeout 5 0
location $cab_locale$
password $encrypt_type$ $vty_password$
access-class 91 in
logging synchronous
transport input ssh
transport output none
line vty 5 15
exec-timeout 5 0
location $cab_locale$
password $encrypt_type$ $vty_password$
access-class 91 in
logging synchronous
transport input ssh
transport output none
!
! ADDITIONAL COMMANDS
!
port-channel load-balance src-dst-port
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree portfast bpduguard default
spanning-tree extend system-id
udld aggressive
!