{% extends "fortinet_base.j2" %}
{% block child_fmg %}
config system central-management
   set type fortimanager
   set fmg {{ fortimanager.server1 }}
   set enc-algorithm low
   set vdom root
   set include-default-servers disable
end
execute central-mgmt register-device {{ fmg_serial_number }} {{fmg_register_password }}
{% endblock %}
